@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: #4b3e45;
}
button {
	background-color: #fbcfe8;
	padding: 5px;
	border-radius: 5px;

	&:hover {
		background-color: #e2bad1;
	}
}
